<html>
  <body>
    Creating some dumb blog


    <div>
      <form>
        <label>Blog Title</label>
        <input required placeholder="Blog Title" />
        <label>Blog Snippet</label>
        <input required placeholder="Blog Snippet" />
        <label>Blog Body</label>
        <textarea required></textarea>
        <button>submit</button>
      </form>
    </div>
  </body>
</html>
